{% extends 'base.html.twig' %}

{% block body %}

    <h3>{{ unit.id }}</h3>
    <p>{{ unit.book.title }}</p>
    <p>{{ unit.book.author }}</p>
    <p>{{ unit.book.isbn }}</p>
    <p>{{ unit.book.category }}</p>
    <a href="{{ path('card_reader', {'id': unit.reader.id}) }}">{{ unit.reader.fullname }}</a>


{% endblock %}
