{% extends 'base.html.twig' %}

{% block body %}

    <div class="col-lg-8">
        <form class="form-inline" method="post" action="{{ path('search_book') }}">
            <div class="btn-group">
                <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Category
                </button>
                <div class="dropdown-menu">
                    <a href="{{ path('book_index') }}" class="dropdown-item" role="button">All</a>
                    <div class="dropdown-divider"></div>
                    {% for category in category %}
                        <a href="{{ path('category_book', {'id': category.id}) }}" class="dropdown-item" role="button">{{ category.name }}</a>
                        <div class="dropdown-divider"></div>
                    {% else %}
                        <button type="button" class="dropdown-item">The database does not have any category yet</button>
                    {% endfor %}
                </div>
            </div>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('index_category') }}" class="btn btn-outline-secondary">Category</a>
                <a href="{{ path('new_book') }}" class="btn btn-outline-secondary">New Book</a>
            {% endif %}
            <input class="form-control" type="search" name="searchBook" placeholder="Search for book">
        </form> <br>
        {% for book in undeletedBooks %}
            <div class="card">
                <img class="img-responsive" src="{{ asset('books/'~book.path) }}" alt="{{ book.path }}" width="200">
                <div class="card-body">
                    <h5 class="card-title">{{ book.title }}</h5>
                    <p class="card-text">{{ book.author }}</p>
                    <p class="card-text">{{ book.category }}</p>
                    <a href="{{ path('details_book', {'id': book.id}) }}" class="btn btn-primary">Details</a>
                </div>
            </div>
            <br>
        {% else %}
            <h2>The database does not have any books yet</h2>
        {% endfor %}
        <div class="navigation">
            {{ knp_pagination_render(undeletedBooks) }}
        </div>
    </div>

{% endblock %}