{% extends 'base.html.twig' %}

{% block body %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('unit_book', {"id": book.id}) }}">Units</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('update_book', {"id": book.id}) }}">Edit</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('delete_book', {"id": book.id}) }}">Delete</a>
                    </li>
                {% else %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('unit_book_user', {"id": book.id}) }}">Units</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <center><h1>{{ book.title }}</h1></center>
            <img src="{{ asset('books/'~book.path) }}" class="img-responsive" width="200">
        </div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <th>Author</th>
                    <td>{{ book.author }}</td>
                </tr>
                <tr>
                    <th>Category</th>
                    <td>{{ book.category.name }}</td>
                </tr>
                <tr>
                    <th>ISBN</th>
                    <td>{{ book.isbn }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ book.description|striptags('<br><p><b><ul><li>')|raw }}</td>
                </tr>
            </table>
        </div>
    </div>


{% endblock %}