{% extends 'base.html.twig' %}

{% block title %}Library|Search{% endblock %}

{% block body %}

    {% for reader in result %}
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ reader.fullname }}</h5>
                        <p class="card-text">
                        <table class="table table-sm table-bordered">
                            <tr>
                                <td><label><b>E-mail</b></label></td>
                                <td>{{ reader.email }}</td>
                            </tr>
                            <tr>
                                <td><label><b>Phone</b></label></td>
                                <td>{{ reader.phone }}</td>
                            </tr>
                            <tr>
                                <td><label><b>Borrowed</b> </label></td>
                                <td>{{ reader.unit|length }}</td>
                            </tr>
                        </table>
                        </p>
                        <a href="{{ path('card_reader', {'id': reader.id}) }}" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
        </div> <br>
    {% else %}
        <div class="card">
            <div class="card-body">
                No result
            </div>
        </div>
    {% endfor %}
    <div class="navigation">
        {{ knp_pagination_render(result) }}
    </div>

{% endblock %}