{% extends 'base.html.twig' %}

{% block body %}

    <h1>new Employee</h1>
    {{ form_start(formUser, {"attr": {"novalidate": "novalidate"}}) }}
    <div class="form-group">
        {{ form_widget(formUser.username, {'attr': {'placeholder': 'Username'}}) }}
    </div>
    <div class="form-group">
        {{ form_widget(formUser.plainPassword.first, {'attr': {'placeholder': 'Password'}}) }}
    </div>
    <div class="form-group">
        {{ form_widget(formUser.plainPassword.second, {'attr': {'placeholder': 'Confirm password'}}) }}
    </div>
    <div class="form-group">
        {{ form_widget(formUser.email, {'attr': {'placeholder': 'Email'}}) }}
    </div>
    <div class="form-group">
        {{ form_widget(formUser.fullname, {'attr': {'placeholder': 'Fullname'}}) }}
    </div>
    <div class="form-group">
        {{ form_widget(formUser.phone, {'attr': {'placeholder': 'Phone'}}) }}
    </div>
    <div class="form-group">
        {{ form_widget(formUser.save, {'attr': {'class': 'btn btn-light'}}) }}
    </div>
    {{ form_end(formUser) }}


{% endblock %}